html {
    width: auto;
  height: auto;
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Source Sans Pro', sans-serif;
    background-color:dimgray;
     }


h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 32px;
  /*color:maroon;*/
 text-shadow: 0 0 20px #fefcc9,
                     10px -10px 30px #feec85,
                     -20px -20px 40px #ffae34,
                     20px -30px 35px #ec760c,
                     -20px -40px 40px #cd4606,
                     0 -50px 65px #973716,
                     10px -70px 70px #451b0e;
  }

p {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
 }


body {
  margin: 0 auto;
  background-color:floralwhite;
  padding: 0 20px 20px 20px;
  }


img {
  display: block;
  margin: 0 auto;
}


p {background-image: url("contactiv.jpg");
    padding-top: 40px;
 }


li { display:inline-block;
    border-left: 10px;
    padding-left:10px;
    margin-left: 10px;
    font-size: 25px;    
    text-align: center;
    }

/*a:visited {
  color: darkgoldenrod;
}

a:hover {
  border-bottom: 1px solid;
  background-color: greenyellow;
    border-radius: 10px;
}

a:active {
  background-color: lightcoral;
}*/

a.adresaemail{font-size: 16px}

.red{
    width: 300px;
    background-color: yellow;
    color:blue;
    box-shadow: 0 0 8px #FFD700;
    text-align:center;
}


nav ul li a {
    border-radius: 5px;
    background-color: #ABCDEF;
    transition: background-color 0.5s ease;
    display:inline;
    font-size:25px;
    padding:20px;
    border:1px solid #ccc;
    margin-top:10px;
}

.active {
    background-color:#556677;
}
